@using GridMvc.Html
@model List<WebShop.Models.Product>

@{
    ViewBag.Title = "ASP.NET MVC Music Store";
}

<div class="jumbotron">
    <div class="page-header">
        <h1>
            WebShop
        </h1>
    </div>

    @*@foreach (var product in Model)
    {
        <p>
            <a href="@Url.Action("Details", "Store", new { id = product.ProductId })">

                <img alt="ImageUrl" src="@product.ImageUrl" />
                <span>@product.Name</span>
            </a>
        </p>
    }*@
</div>
    

@Html.Grid(Model).Columns(columns =>
    {
        columns.Add(product => product.Name)
            .Titled("Products")
            .SetWidth(100);
        columns.Add(product => product.Description)
            .Titled("Description")
            .SetWidth(400);
    }).WithPaging(5)


@*<h3><em>Fresh</em> off the grill</h3>

<ul id="album-list">
    @foreach (var album in Model)
    {
        <li><a href="@Url.Action("Details", "Store",
                new { id = album.ProductId })">

            <img alt="@album.Name" src="@album.ImageUrl" />
            <span>@album.Name</span> </a>
        </li>
    }
</ul>*@