@using GridMvc.Html
@model WebShop.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<script src="/Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });

    });

    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);

        // Update the page elements
        if (data.ItemCount == 0) {
            $('#row-' + data.DeleteId).fadeOut('slow');
        } else {
            $('#item-count-' + data.DeleteId).text(data.ItemCount);
        }

        $('#cart-total').text(data.CartTotal);
        $('#update-message').text(data.Message);
        $('#cart-status').text('Cart (' + data.CartCount + ')');
    }
</script>

<div class="panel panel-body panel-default">
    <h3>
        <em>Review</em> your cart:
    </h3>

    <button type="button" class="btn btn-default">
        @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout")
    </button>

    @Html.Grid(Model.CartItems).Columns(columns =>
    {
        columns.Add(cart => cart.Product.Name)
            .Titled("Products")
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(o => @Html.ActionLink(o.Product.Name, "Details", "Store", new { id = o.ProductId }, null).ToHtmlString())
            .SetWidth(200);
        columns.Add(cart => cart.Product.Price)
            .Titled("Price")
            .SetWidth(25);
        columns.Add(cart => cart.Count)
            .Titled("Quantity")
            .SetWidth(25);
    }).WithPaging(25)

    <div class="pull-right">
        Total: @Model.CartTotal
    </div>

</div>


@*<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @Html.ActionLink(item.Product.Name, "Details", "Store", new { id = item.ProductId}, null)
            </td>
            <td>
                @item.Product.Price
            </td>
            <td id="item-count-@item.RecordId">
                @item.Count
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>*@