@using GridMvc.Html
@model WebShop.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<div class="panel panel-body panel-default">
    <h3>Kontrollera din varukorg:</h3>

    @Html.Grid(Model.CartItems).Columns(columns =>
    {
        columns.Add(cart => cart.Product.Name)
            .Titled("Produkter")
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(o => @Html.ActionLink(o.Product.Name, "Details", "Store", new { id = o.ProductId }, null).ToHtmlString())
            .SetWidth(400);
        columns.Add()
            .RenderValueAs(cart => cart.Product.Price + " kr")
            .Titled("Pris (per produkt)")
            .SetWidth(200);
        columns.Add(cart => cart.Count)
            .Titled("Antal")
            .SetWidth(150);
        columns.Add()
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(x => @Html.ActionLink("Ta bort", "RemoveFromCart", new { id = x.RecordId }, new { @class = "btn btn-sm btn-default" }).ToHtmlString());
    }).WithPaging(25)

    <div class="pull-right" style="color: palevioletred; font-size: 16px; font-weight: bold;">
        Totalt: @Model.CartTotal <em>kr</em>
    </div>

    <div class="pull-left">
        @Html.ActionLink("Bekräfta köp", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-primary"})
        @Html.ActionLink("Fortsätt handla", "Index", "Store", null, new { @class = "btn btn-primary" })
    </div>

</div>