@using GridMvc.Html
@model WebShop.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<div class="panel panel-body panel-default">
    <h3>Kontrollera din varukorg:</h3>

    @Html.Grid(Model.CartItems).Columns(columns =>
    {
        columns.Add(cart => cart.Product.Name)
            .Titled("Produkter")
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(o => @Html.ActionLink(o.Product.Name, "Details", "Store", new { id = o.ProductId }, null).ToHtmlString())
            .SetWidth(400);
        columns.Add(cart => cart.Product.Price)
            .Titled("Pris (per produkt)")
            .SetWidth(200);
        columns.Add(cart => cart.Count)
            .Titled("Antal");
    }).WithPaging(25)

    <div class="pull-right">
        Totalt: @Model.CartTotal
    </div>

    <div class="pull-left">
        @Html.ActionLink("Bekräfta köp", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-primary"})
    </div>

</div>


@*<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @Html.ActionLink(item.Product.Name, "Details", "Store", new { id = item.ProductId}, null)
            </td>
            <td>
                @item.Product.Price
            </td>
            <td id="item-count-@item.RecordId">
                @item.Count
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>*@