@using GridMvc.Html
@model WebShop.Models.Category
 
@{
    ViewBag.Title = "Browse " + @Model.Name + " Products";
}
 
<h2>@Model.Name</h2>
<hr />
 
<ul style="list-style-type: none;">

    @foreach (var product in Model.Products)
    {
        <li style="display: inline-block; width: 200px; height: 300px; text-align: center;">
            @Html.ActionLink(product.Name, "Details", new { Id = product.ProductId })
            <div>
                <a href="@Url.Action("Details", new { id = product.ProductId })">
                    <img src="@product.ImageThumbnailUrl" style="width: 150px; height: 200px;" />
                </a>
            </div>

            <div class="pull-left" style="color: red; padding-left: 20px; padding-top: 5px; font-weight: bold;">
                @product.Price kr
            </div>
            <div class="pull-right" style="padding-right: 25px; padding-top: 5px;">
                @Html.ActionLink("Köp", "AddToCart", "ShoppingCart", new { id = product.ProductId }, new { @class = "btn btn-sm btn-default", @style = "width: 60px;" })
            </div>
        </li>
    }
</ul>