@using GridMvc.Html
@model WebShop.Models.Category
 
@{
    ViewBag.Title = "Browse " + @Model.Name + " Products";
}
 
<h3><em>@Model.Name</em> Products</h3>
 
@Html.Grid(Model.Products).Columns(column =>
{
    column.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(x => @<img src="@x.ImageUrl" width="100" height="75">)
        .SetWidth(125);

    column.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(x =>
            @Html.ActionLink(x.Name, "Details", new { Id = x.ProductId }));

})