@model WebShop.Models.Product

@{
    ViewBag.Title = Model.Name;
}

<div class="panel panel-default" style="padding-left: 50px;">

    <h2>@Model.Name</h2>

    <p>
        <img alt="ImageUrl" src="@Model.ImageUrl" style="width: 400px; height: auto;" />
    </p>

    <p>
        @Model.Description
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}", Model.Price)
        <em>kr</em>
    </p>
    <p>
        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ProductId }, new { @class="btn btn-primary"})
    </p>

</div>
