@model WebShop.Models.Product

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div class="panel panel-default" style="padding-left: 50px;">

    <div class="container">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">

            <div class="col-md-5">
                <img alt="ImageUrl" src="@Model.ImageUrl" style="width: 300px; height: auto;" />
            </div>

            <div class="col-md-7">
                <h2>@Model.Name</h2>
                <hr />

                <p>@Model.Description</p>
                <p style="font-size: 24px; color: palevioletred; ">
                    @String.Format("{0:F}", Model.Price)
                    <em>kr</em>
                </p>
                <p>
                    Leveranstid 2-5 arbetsdagar
                </p>
                <p>
                    @Html.ActionLink("Lägg i varukorg", "AddToCartFromDetails", "ShoppingCart", new { id = Model.ProductId }, new { @class = "btn btn-primary" })
                </p>
            </div>

        </div>

    </div>
</div>
