@model WebShop.Models.Product

@{
    ViewBag.Title = "Product - " + Model.Name;
}

<h2>@Model.Name</h2>

<p>
    <img alt="ImageUrl" src="@Model.ImageUrl" />
</p>



<div id="album-details">
    <p>
        <em>Category:</em>
        @Model.CategoryId
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}", Model.Price)
    </p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ProductId }, "")
    </p>
</div>
