@model WebShop.ViewModels.StoreViewModel
@{
    ViewBag.Title = "Store";
}

<ul class="list-group">

    @foreach (var category in Model.Categories)
    {
        <li class="list-group-item" style="margin-bottom: 50px;">
            <h3 style="text-align: center">
                @Html.ActionLink(category.Name, "Browse", new { category = category.Name }, new { @style = "font-size: 28px;" })
            </h3>

            <hr />

            <ul style="list-style-type: none; margin-left: 0;">
                @foreach (var product in Model.GetProducts(category.CategoryId))
                {
                    <li style="display: inline-block; width: 200px; height: 300px; text-align: center;">
                        @Html.ActionLink(product.Name, "Details", new { Id = product.ProductId })
                        <div>
                            @*<a href="@Url.Action("Details", new { id = product.ProductId })">*@
                                <img src="@product.ImageThumbnailUrl" style="width: 150px; height: 200px;" />
                            @*</a>*@
                        </div>

                        <div class="pull-left" style="color: palevioletred; padding-left: 20px; padding-top: 5px; font-weight: bold;">
                            @product.Price kr
                        </div>
                        <div class="pull-right" style="padding-right: 25px; padding-top: 5px;">
                            @Html.ActionLink("Välj", "AddToCartFromIndex", "ShoppingCart", new { id = product.ProductId }, new { @class = "btn btn-sm btn-default", @style = "width: 60px;" })
                        </div>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
