@model WebShop.ViewModels.CheckoutCompleteViewModel 

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Köpet är avslutat</h2>

<p>Tack för din order! Ditt ordernummer är: @Model.Order.OrderId </p>

<p>Varför inte handla någonting mer? Gå tillbaka till butiken: 
    @Html.ActionLink("butik", "Index", "Home")
</p>

<hr />

<h4> Rekommenderad produkt: </h4>

<ul style="list-style-type: none">

    <li style="display: inline-block; width: 500px; padding: 25px;">
        <a href="@Url.Action("Details", "Store", new { Id = Model.RecommendedProduct.ProductId})">
            <img alt="ImageUrl" src="@Model.RecommendedProduct.ImageUrl" style="width: 300px; height: auto;" />
        </a>
    </li>
    <li style="display: inline-block">
        <h2>
            @Html.ActionLink(Model.RecommendedProduct.Name, "Details", "Store", new { Id = Model.RecommendedProduct.ProductId }, null)
        </h2>
        <hr />

        <p>@Model.RecommendedProduct.Description</p>
        <p style="font-size: 24px; color: palevioletred; ">
            @String.Format("{0:F}", Model.RecommendedProduct.Price)
            <em>kr</em>
        </p>
        <p>
            Leveranstid 2-5 arbetsdagar
        </p>
        <p>
            @Html.ActionLink("Välj produkt", "ChooseProduct", "Checkout", new { recommendedProductId = Model.RecommendedProduct.ProductId, 
                                                                                    orderId = Model.Order.OrderId,
                                                                                    selectedProductId = Model.RecommendedProduct.ProductId}, new { @class = "btn btn-primary" })
        </p>
    </li>
</ul>

@if (Model.IsWebOrder)
{
    <hr />
    <h4>Andra produkter du kanske gillar: </h4>
    
    <ul style="list-style-type: none">
        @foreach (var product in Model.Products)
        {
            <li style="display: inline-block; width: 250px; padding: 25px;">
                <div class="text-center">
                    @Html.ActionLink(product.Name, "Details", "Store", new { Id = product.ProductId }, null)
                </div>

                <a href="@Url.Action("Details", "Store", new { Id = product.ProductId})">
                    <img alt="ImageUrl" src="@product.ImageThumbnailUrl" style="width: 200px; height: 300px;" />
                </a>
            </li>
        }
    </ul>
}

