@model WebShop.ViewModels.CheckoutCompleteViewModel

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Var vänlig välj en produkt du gillar</h2>

@*<h4> Rekommenderad produkt: </h4>

@if (Model.RecommendedProduct == null)
{
   <p>No recommendation available...</p> 
}
else
{
<div class="container">

    <div class="row">

        <div class="col-md-5">
            <a href="@Url.Action("Details", "Store", new { Id = Model.RecommendedProduct.ProductId})">
                <img alt="ImageUrl" src="@Model.RecommendedProduct.ImageUrl" style="width: 250px; height: auto;" />
            </a>
        </div>

        <div class="col-md-7">
            <h2> @Html.ActionLink(Model.RecommendedProduct.Name, "Details", "Store", new { Id = Model.RecommendedProduct.ProductId }, null) </h2>

            <hr />

            <p> @Model.RecommendedProduct.Description </p>

            <p style="font-size: 24px; color: palevioletred; ">
                @String.Format("{0:F}", Model.RecommendedProduct.Price)
                <em>kr</em>
            </p>

            <p> Leveranstid 2-5 arbetsdagar </p>

            <p>
                @Html.ActionLink("Välj produkt", "ChooseProduct", "Checkout", new {
                    recommendedProductId = Model.RecommendedProduct.ProductId,
                    orderId = Model.Order.OrderId,
                    selectedProductId = Model.RecommendedProduct.ProductId
                }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>
}*@

@if (Model.IsWebOrder)
{
    <hr />

    <ul style="list-style-type: none">
        @foreach (var product in Model.Products)
        {
            <li style="display: inline-block; width: 250px; padding: 25px;">
                <div class="text-center">
                    <h4>@product.Name</h4>
                </div>

                <img alt="ImageUrl" src="@product.ImageThumbnailUrl" style="width: 200px; height: 300px;" />

                <div class="text-center">

                    <p> @product.Description </p>
                    <p style="font-size: 16px; color: palevioletred; ">
                        @String.Format("{0:F}", product.Price)
                        <em>kr</em>
                    </p>
                    <p>
                        @Html.ActionLink("Välj produkt", "ChooseProduct", "Checkout", new {
                               recommendedProductId = Model.RecommendedProduct == null ? -1 : Model.RecommendedProduct.ProductId,
                               orderId = Model.Order.OrderId,
                               selectedProductId = product.ProductId
                           }, new { @class = "btn btn-primary" })
                    </p>

                </div>
            </li>
        }
    </ul>
}

