@model WebShop.ViewModels.CheckoutCompleteViewModel

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Vi rekommenderar den här produkten till dig</h2>
<hr />

@if (Model.ItemRecommendedProduct == null)
{
    <p>Ingen rekommendation är tillgänglig...</p>
}
else
{
    <div class="container">

        <div class="row">

            <div class="col-md-5">
                <a href="@Url.Action("Details", "Store", new { Id = Model.ItemRecommendedProduct.ProductId})">
                    <img alt="ImageUrl" src="@Model.ItemRecommendedProduct.ImageUrl" style="width: 250px; height: auto;" />
                </a>
            </div>

            <div class="col-md-7">
                <h2> @Html.ActionLink(Model.ItemRecommendedProduct.Name, "Details", "Store", new { Id = Model.ItemRecommendedProduct.ProductId }, null) </h2>

                <hr />

                <p> @Model.ItemRecommendedProduct.Description </p>

                <p style="font-size: 24px; color: palevioletred; ">
                    @String.Format("{0:F}", Model.ItemRecommendedProduct.Price)
                    <em>kr</em>
                </p>

                <p> Leveranstid 2-5 arbetsdagar </p>

                <p>
                    @*@Html.ActionLink("Välj produkt", "ChooseProduct", "Checkout", new
               {
                   itemRecommendedProductId = Model.ItemRecommendedProduct.ProductId,
                   orderId = Model.Order.OrderId,
                   selectedProductId = Model.ItemRecommendedProduct.ProductId
               }, new { @class = "btn btn-primary" })
                </p>*@
            </div>
        </div>
    </div>
    <hr />
    
    <div>
        @Html.ActionLink("Gå vidare", "ProcessOrder", "Checkout", new
        {
            itemRecommendedProductId = Model.ItemRecommendedProduct.ProductId,
            userRecommendedProductId = Model.UserRecommendedProduct.ProductId,
            orderId = Model.Order.OrderId
        }, new { @class = "btn btn-primary" })
    </div>
}

@*<hr />

    <ul style="list-style-type: none">
        @foreach (var product in Model.Products)
        {
            <li style="display: inline-block; width: 250px; padding: 25px;">
                <div class="text-center">
                    <h4>@product.Name</h4>
                </div>

                <img alt="ImageUrl" src="@product.ImageThumbnailUrl" style="width: 200px; height: 300px;" />

                <div class="text-center">

                    <p> @product.Description </p>
                    <p style="font-size: 16px; color: palevioletred; ">
                        @String.Format("{0:F}", product.Price)
                        <em>kr</em>
                    </p>
                    <p>
                        @Html.ActionLink("Välj produkt", "ChooseProduct", "Checkout", new
                       {
                           itemRecommendedProductId = Model.ItemRecommendedProduct == null ? -1 : Model.ItemRecommendedProduct.ProductId,
                           orderId = Model.Order.OrderId,
                           selectedProductId = product.ProductId
                       }, new { @class = "btn btn-primary" })
                    </p>

                </div>
            </li>
        }
    </ul>*@

